.App {
  text-align: center;
}

body {
  background-color: rgb(235, 235, 229);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.img {
  width: 400px;
}

.navlink-container {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  width: 20%;
  background-color: rgb(199, 208, 225);
  gap: 30px;
  padding: 20px;
}

.navlink {
  text-decoration: none;
  color: rgb(147, 147, 147);
  font-weight: bold;
  font-size: 20px;
}