.App {
  text-align: center;
}

body {
  background-color: rgb(235, 235, 229);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.img {
  width: 400px;
}

.navlink-container {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  width: 20%;
  background-color: rgb(199, 208, 225);
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* .navlink-container > * {
  display: flex;
  justify-content: center;
  align-content: center;
} */

.navlink {
  text-decoration: none;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  float: none;
  color: rgb(147, 147, 147);
  font-weight: bold;
  font-size: 20px;
  /* width: 100px; */
  text-align: center;
  /* padding-left: 30%; */
}

.link-active {
  text-decoration: none;
  color: rgb(147, 147, 147);
  font-weight: bold;
  font-size: 20px;
  border-bottom: solid; 
  width: 90px; 
  margin-left: 25%; 
}

.circle-img {
  width: 170px;
  height: 160px;
  border-radius: 50%;
  display: inline;
  margin: 0 auto;
  overflow: hidden;
}

.project-card {
  width: 400px;
  background-color: rgb(199, 208, 225);
  border-radius: 1em;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px;
  gap: 10px;
}

.image {
  width: 400px;
  border-radius: 1em;
}

.icon {
  font-size: 20px;
  text-decoration: none;
  color: rgb(85, 0, 255);
}

