.App {
  text-align: center;
}

body {
  background-color: rgb(235, 235, 229);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.img {
  width: 400px;
}

.navlink-container {
  display: flex;
  flex-direction: column;
  float: left;
  height: 100vh;
  overflow: auto;
  width: 14%;
  background-color: rgb(199, 216, 225);
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-bottom: 50%;
  margin-top: -5%;
}

.navlink {
  text-decoration: none;
  float: none;
  color: rgb(147, 147, 147);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.navlink:hover {
  color: rgb(137, 225, 247);
}

.link-active {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgb(137, 225, 247);
}

.circle-img {
  width: 160px;
  height: 150px;
  border-radius: 50%;
  display: inline;
  margin: 0 auto;
  overflow: hidden;
}

.project-card {
  width: 350px;
  background-color: rgb(199, 216, 225);
  border-radius: 1em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  gap: 10px;
}

.card-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns:  400px 400px;
  justify-content: center;
  align-content: center;
  padding: 10px;
  gap: 20px;
  padding-left: 5%;
}

.image {
  width: 300px;
  border-radius: 1em;
  margin-left: 7%;
}

.icon {
  font-size: 20px;
  text-decoration: none;
  color: rgb(119, 118, 118);
}

.icon:hover {
  color: rgb(137, 225, 247);
}

.about-image {
  text-align: center;
  width: 65%;
  border-radius: .5em;
  margin-top: 10px;
}

.text-div {
  width: 65%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 8%;
  padding-top: 3%;
  font-size: 18px;
  color: rgb(119, 118, 118);
}

.link {
  text-decoration: none;
  float: none;
  color: rgb(106, 106, 106);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.link:hover {
  color: rgb(137, 225, 247);
}

.title {
  font-size: 20px;
  color: rgb(82, 82, 82);
}

.card-text-div {
  color: rgb(119, 118, 118);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 6%;
  font-size: 16px;
}

.resume {
  padding: 20px;
  height: 650px;
  width: 600px;
  border: 0;
}